html,body{
    

    width:100vw;
    height:100vh;
    background: radial-gradient(ellipse, #ffffff, #ffffff, #72e7c2, #a9ecdd, #ffffff) !important;

}
.barra_nav {

    background: linear-gradient(110deg,rgb(11, 94, 94) 15%,rgb(24, 144, 144),rgb(53, 176, 176),teal) !important;
    color: white;
    border-style: inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
}

#cruzverde{
    width: 2vw;
    height: 2vw;
    align-self: center;
    margin-left:1vw;
}

.titul{
    padding-left: 1vw;
    color: white;
    font-size:2em;
    font-family: 'Arial';
    height:3vh;
}

.inicio_ses{

    position:relative;
    display:inline-block;
    margin-left:30%;
    margin-right:30%;

}

.div_interno{

    position:absolute;
    top:60%;
    left:4vw;
    align-items:center;
}

#div_interno_nuevo_usuario{

    margin-left:0vw;
}

#mensaje_sel_usuario{

    font-size:2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    
}

#select_usuarios{

    margin-left:8vw;
    margin-right:8vw;
    font-size:1.2em;
    width:12vw;
}

#btnEntrar{

   margin-left:8vw;
   margin-right:8vw; 
    width:12vw;
    height:2vw;
    border-radius:6px;
    border-style:ridge;
    border-color:lightgreen;
    background:linear-gradient(135deg,#0b7474,#00aa77,#135447);
    color:white;
}

#btnEliminarUsuario{

   margin-left:8vw;
   margin-right:8vw; 
    width:12vw;
    height:2vw;
    border-radius:6px;
    border-style:ridge;
    border-color:rgb(255, 3, 3);
    background:linear-gradient(135deg,#b83c3c,#af3030,#aa261c);
    color:white;
}

#lblNombre,#lblApellidos{

    margin-top:1vh;
    font-size:2vh;
    margin-right:0.5vw;
}

#itNombre{

    width:7vw;
    margin-right:0.5vw; 


}

#itApellidos{

    width:9vw;

}