@media screen and (orientation: portrait) {

    .mens-emergente,.pregunta-emergente {

        display: flex;
        background: black;
        position:fixed;
        top: 24vh !important;
        left: 5vw;
        border-style:ridge;
        border-radius:12px;
        background:rgba(0, 128, 128, 0.89);
        width:90vw;
        z-index:1;
        height:40vh;
        box-shadow:5px 5px 12px black;
        flex-direction:column;
    }
    
    #titulo_mens_emergente {

        color: white;
        text-align:center;
    }

    #encabezado_mens_emergente{

        background:rgb(7, 99, 99);
        border:"thin solid";
        border-radius:12px 12px 0px 0px;
        border-color:white;
        height:8%;
        width:100% !important;
    }
   
    #div_mensaje{

        margin-left:20%;
        margin-right:20%;
        margin-top:20%;
        color:white;
        text-align:center;
    }

    #mensaje_pregunta{

        width:100%;

    }

    .btn3d{

        width:100%;
        margin-top:15%;
        height:10vh;
        border-radius:12px;
        box-shadow:3px 3px 10px black;
        background:linear-gradient(180deg,#888888,#999999,#aaaaaa,#bbbbbb,#cccccc,#dddddd,#eeeeee,#ffffff);
        font-size:1.2em; 
    }

    .texto_perimetrado{

        text-shadow:-1px -1px 2px black,
                    -1px 1px 2px black,
                    1px -1px 2px black,
                    1px 1px 2px black;
        color:white;


    }
    .btn3dFino{

        height:6vh;
        margin-top:0%;
        text-stroke:white;
        font-size:1.2em;
    }

    .btn3dFino:active{

        font-size:1em;
        box-shadow:1px 1px 5px black;

    }
    #btnSi, #btnNo{

        margin:4vw;


    }
}


@media screen and (orientation: landscape) {

    .mens-emergente,.pregunta-emergente {

        display: flex;
        background: black;
        position:fixed;
        top: 24vh !important;
        left: 35vw;
        border-style:ridge;
        border-radius:12px;
        background:rgba(0, 128, 128, 0.89);
        width:30vw;
        z-index:1;
        height:40vh;
        box-shadow:5px 5px 12px black;
        flex-direction:column;
    }
    
    #titulo_mens_emergente {

        color: white;
        text-align:center;
    }

    #encabezado_mens_emergente{

        background:rgb(7, 99, 99);
        border:"thin solid";
        border-radius:12px 12px 0px 0px;
        border-color:white;
        height:8%;
        width:100% !important;
    }
   
    #div_mensaje{

        margin-left:20%;
        margin-right:20%;
        margin-top:20%;
        color:white;
        text-align:center;
    }

    #mensaje_pregunta{

        width:100%;

    }

    .btn3d{

        width:100%;
        margin-top:15%;
        height:10vh;
        border-radius:12px;
        box-shadow:3px 3px 10px black;
        background:linear-gradient(180deg,#888888,#999999,#aaaaaa,#bbbbbb,#cccccc,#dddddd,#eeeeee,#ffffff);
        font-size:1.2em; 
    }

    .texto_perimetrado{

        text-shadow:-1px -1px 2px black,
                    -1px 1px 2px black,
                    1px -1px 2px black,
                    1px 1px 2px black;
        color:white;


    }
    .btn3dFino{

        height:6vh;
        margin-top:0%;
        text-stroke:white;
        font-size:1.2em;
        width:20vw !important;
    }

    .btn3dFino:active{

        font-size:1em;
        box-shadow:1px 1px 5px black;

    }
    #btnSi, #btnNo{

        width:50vw;
        margin-right:1vw;
        margin-left:1vw;
    }
}
