html,
body {


    width: 100vw;
    height: 100%;
    background: radial-gradient(ellipse, #ffffff, #ffffff, #72e7c2, #a9ecdd, #ffffff) !important;

}

.barra_nav {

    background: linear-gradient(110deg,rgb(11, 94, 94) 15%,rgb(24, 144, 144),rgb(53, 176, 176),teal) !important;
    color: white;
    border-style: inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
}

.btnesNav{


    -webkit-animation-name: "brillo";
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;

    color: white;



}

#cruzverde {
    width: 2vw;
    height: 2vw;
    align-self: center;
    margin-left: 1vw;
}

.titul {
    padding-left: 1vw;
    color: white;
    font-size: 2em;
    font-family: 'Arial';
    height: 3vh;
}

.inicio_ses {

    position: relative;
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;

}

#nomusuario_barra_nav {

    padding-left: 1vw;
    padding-top: 0.3vw;
    color: white;
    font-size: 1.5em;
    font-family: 'Arial';
    height: 3vh;


}

    #tit_sección{

        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        color-adjust: exact; /* Firefox */
        background:teal !important;
        width:100% !important;
        border-radius:12px 12px 0px 0px;
    }
#img_enfermera {

    margin-top:0.5vw;
    height: 80%;

}

.div_informe {

    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90%;
    height: 85%;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 5px 5px 10px black;
    padding: 2vw;
}

#divtabla_interno {

    width: 100%;
    height: 95%;
    overflow: scroll;
    
}

#divtabla_interno::-webkit-scrollbar{

    width:0;
    height:0;

}

    #Evolución {

        background:#ffffff11;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }

.celda_ambar{

    -webkit-animation-name: "precaución";
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;
    color: white;
    font-size: 1.35em;
    font-weight:bold;
}

.celda_roja {

    -webkit-animation-name: "peligro";
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;
    color: white;
    font-size: 1.25em;
    font-weight:bold;
}

.celda_verde {

    -webkit-animation-name: "saludable";
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:reverse;
    -webkit-animation-timing-function: ease-in-out;

    color: white;
    font-size: 1.2em;
    font-weight: bold;

}


table {

    background: white;
    width: 100%;
}

.tit_pag {

    text-align: center;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background: #00665590;
    color: white;
    border-radius: 5px;
    width: 90%;
}

input[type=number] {

    width: 100%;

}

input[type=date] {

    width: 100%;

}

.texto_centrado {

    text-align: center;


}

table,
td {

    border: 1px solid;
    text-align: center;
    padding: 0.5vh;
    border-radius: 6px;
    border-width: 2px;
}

th {
    border: 2px solid;
    width: 100px;
}

thead {
    background: teal !important;
    color: white;
    position: sticky;
    top: 0;
    height: 40px;
    border-color: black;

}

tr,
td {

    border-width: 2px;
    border-style: groove;
    height: 5px;
}

#div_grafico {


    display: flex;
    border-style:groove;
    border-width:12px;
    position: fixed;
    border-radius: 12px;
    border-style:line;
    top: 18%;
    left: 30.7%;
    width: 62.2%;
    height: 55%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;

}

.filtros{

        box-shadow:3px 3px 10px black;

}
#tabla_datos{

        
        box-shadow:3px 3px 10px black;
}

#divtabla{

    height:100%;

}
#divtabla::-webkit-scrollbar{

    width:0;
    height:0;
        
}
    #datos_promedios {
        margin-top:0px;
        width: 80% !important;
        page-break-after:avoid;
        margin-right:2vw;
        box-shadow:3px 3px 10px black;
    }
    
    #datos_totales {
        margin-top:0px;
        width: 20% !important;
        page-break-after:avoid;
        box-shadow:3px 3px 10px black;

    }
.visible {

    display: flex;

}

.botones:hover{

    background:teal;
    color:white;
}

.botones{

    border-radius:7px;

}

    #info_desarrollo{

        font-size:1.2em;
        color-adjust: exact; /* Firefox */
        background:teal !important;
        color:white !important;
        border-radius:2px 2px 8px 8px;
        width:90%;
        margin-left:5%;
        margin-right:5%;

    }
@media print {

    @page {
        size: A4 landscape;
        margin: 0;
    }
  
#divtabla_interno {

    width: 100%;
    height: 100%;
    overflow: scroll;
    
}

.celda_ambar{

    animation-name: "precaución";
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    color: white;
    font-size: 1.35em !important;
    font-weight:bold !important;
}

.celda_roja {

    animation-name: "peligro";
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    color: white;
    font-size: 1.25em !important;
    font-weight:bold !important;
}

.celda_verde {

    animation-name: "saludable";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-timing-function: ease-in-out;

    color: white;
    font-size: 1.2em !important;
    font-weight: bold !important;

}

 

    #div_información{

        display: flex;
        position: fixed;
        top: 93%;
        width: 95%;
        left:3%;
        height: 4%;
        z-index: 1;
    }
    #info_desarrollo{

        font-size:1em;
        color-adjust: exact; /* Firefox */
        background:teal !important;
        color:black !important;
        border-radius:8px 8px 8px 8px;

    }
    td {
        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        color-adjust: exact; /* Firefox */
        font-size:1.2vw !important;
        background-color: #ffffff; /* Set background color to white for headers and cells */
        color: #000000; /* Set text color to black */
        /* Add any other necessary print-specific styles */
        width:2%;
        border-width:3px;
        border-color:teal;
    }
   
    #tit_sección{

        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        color-adjust: exact; /* Firefox */
        margin-left:-4%;
        background:teal !important;
        width:108% !important;
        border-radius:12px 12px 12px 12px;
        margin-top:3vw;
        padding:2vw;
    }
    th{


    }
    thead {
        
        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        color-adjust: exact; /* Firefox */
        color: white; /* Set text color to black */
        /* Add any other necessary print-specific styles */
        width:2%;
        border-width:2px;
        background:teal !important;
    }

    body {
        margin: 0;
        padding: 0;
        height:95%;
    }

    .imprimible {

        display: flex;
        font-size: 2vw;

    }

    .no_imprimible {

        display: none;

    }

    #Evolución {

        width: 100%;
        max-width: 100%;
        height: 99%;
        max-height: 99%;
    }

    #div_grafico {

        margin-top:0;
        display: none;
        position: fixed;
        top: 17%;
        left: 2.5%;
        width: 94.5%;
        height: 50%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 1);

    }


.div_informe {

    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-top:1vw;
    width: 96%;
    height: 85%;
    border-radius: 10px;
    border-style: ridge;
    padding: 2vw;
}

#div_tablas_promedios_totales{

    margin-top:0vw !important;


}

    #datos_promedios {
        margin-top:0px;
        width: 80% !important;
        page-break-after:avoid;
        margin-right:2vw;
        border-style:ridge;
    }
    
    #datos_totales {
        margin-top:0px;
        width: 20% !important;
        page-break-after:avoid;

    }

    .img {

        height: 30%;
        width: 20%;

    }

}

@keyframes precaución {
    0% {
        background: #806b15;
    }

    25% {
        background: #7f7413;
    }

    50% {
        background: #ab9a16;
    }

    75% {
        background: #ad9617;
    }

    100% {
        background: #bb9a13;
    }
}
@keyframes peligro {
    0% {
        background: #770000;
        box-shadow:1px 1px 5px white;
        font-weight:normal;
    }

    25% {
        background: #880000;
        box-shadow:2px 2px 10px rgb(216, 106, 106);
        font-weight:bold;
    }

    50% {
        background: #990000;
        box-shadow:3px 3px 15px rgb(150, 28, 28);
        font-weight:bold;
    }

    75% {
        background: #ee0000;
        box-shadow:4px 4px 20px rgb(240, 3, 3);
        font-weight:bold;
    }

    100% {
        background: #ee0000;
        box-shadow:4px 4px 25px rgb(209, 7, 7);
        font-weight:normal;
    }
}


@keyframes saludable {
    0% {
        background: linear-gradient(-135deg, #33b8bd, #33b8bd, teal, teal, teal, teal, teal, teal, teal, teal);
    }

    10% {
        background: linear-gradient(-135deg, teal, #33b8bd, #33b8bd, teal, teal, teal, teal, teal, teal, teal);
    }

    20% {
        background: linear-gradient(-135deg, teal, teal, #33b8bd, #33b8bd, teal, teal, teal, teal, teal, teal);
    }

    30% {
        background: linear-gradient(-135deg, teal, teal, teal, #33b8bd, #33b8bd, teal, teal, teal, teal, teal);
    }

    40% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, #33b8bd, #33b8bd, teal, teal, teal, teal);
    }

    50% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, #33b8bd, #33b8bd, teal, teal, teal);
    }

    60% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, teal, #33b8bd, #33b8bd, teal, teal);
    }

    70% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, teal, teal, #33b8bd, #33b8bd, teal);
    }

    80% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, teal, teal, teal, #33b8bd, #33b8bd);
    }

    90% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, teal, teal, teal, teal, #33b8bd);
    }

    100% {
        background: linear-gradient(-135deg, teal, teal, teal, teal, teal, teal, teal, teal, teal, teal);
    }

}

@keyframes brillo{

    from{
        box-shadow:0px 0px 2px white;
        background:teal;
        color:white;
    }

    to{

        box-shadow:0px 0px 22px white;
        background:white;
        color:teal;
    }


}