html,
body {


    width: 100vw;
    height: 100%;
    background: radial-gradient(ellipse, #ffffff, #ffffff, #72e7b2, #a9ecce, #ffffff) !important;

}

.barra_nav {

    background: #41a97a !important;
    color: white;
    border-style: inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
}

#cruzverde {
    width: 2vw;
    height: 2vw;
    align-self: center;
    margin-left: 1vw;
}

.titul {
    padding-left: 1vw;
    color: white;
    font-size: 2em;
    font-family: 'Arial';
    height: 3vh;
}

.inicio_ses {

    position: relative;
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;

}

#nomusuario_barra_nav {

    padding-left: 1vw;
    padding-top: 0.3vw;
    color: white;
    font-size: 1.5em;
    font-family: 'Arial';
    height: 3vh;


}
#img_enfermera{

    height:80%;

}
.div_informe {

    display: flex;
    flex-direction: row;
    margin-left:5vw;
    margin-right:5vw;
    width:90%;
    height:80%;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 5px 5px 10px black;
    padding: 2vw;
}

#divtabla{

    width:90%;
    height:80%;
    overflow:scroll;

}
table{

    background:white;
    width:100%; 
}

.tit_pag {

    text-align: center;
    margin-top:2vh;
    margin-left:25vw;
    margin-right:25vw;
    background:#00000060;
    color:white;
    border-radius:5px;
}

input[type=number]{

    width:100%;

}

input[type=date]{

    width:100%;

}

.texto_centrado{

    text-align:center;


}

table,td{

    border:1px solid;
    text-align:center;
    padding:0.5vh;
    border-radius:6px;
    border-width:2px;
}
th{
    border-color:white;
    width:100px;
}
thead{
    background: #007755 !important;
    color:white;
    position:sticky;
    top:0;
    height:40px;

}
tr,td{

    border-width:2px;
    border-style:groove;
    height:40px;
}